<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CertificationProject">
  <test  name="Regression">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <class name="com.project.testscript.UserProfileTestScript"></class>
    </classes>
  </test> <!-- Regression -->
</suite> <!-- CertificationProject -->
